.md-header {
  background-color: #343a40;
}
.md-nav__title {
  visibility: hidden;
}

.md-sidebar {
  width: 300px;
}
.md-sidebar__scrollwrap {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 100%;
  display: inline-block;
  line-height: 1.428571429;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px auto 30px auto;
}

.md-grid {
  max-width: 95%;
}
.md-sidebar--secondary:not([hidden]) {
  width: 260px;
}

.Bildunterschrift {
  text-align: center;
  font-family: "Noto Serif","DejaVu Serif",serif;
  font-style: italic;
  color: #7a2518;
}
.center-img {
  display: block;
  margin: 0px auto;
}

.info {
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 10px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.03);
  font-style: italic;
}

.warn {
  border: solid 1px #FF0000;
  border-radius: 4px;
  padding: 10px;
  background-image: none;
  background-color: rgba(255, 0, 0, 0.05);
  font-style: italic;
}